<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site fait avec Express JS et EJS</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li <% if (currentPage === 'accueil') { %> class="active" <% } %>>
                    <a href="/accueil">Accueil</a>
                  </li>
                <li <% if (currentPage === 'snake') { %> class="active" <% } %>>
                    <a href="/snake">Page 1</a>
                </li>
                <li>
                    <a href="/">Page 2</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>